<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rel.dao.LotteryRecordMapper">
  <resultMap id="BaseResultMap" type="com.rel.entities.LotteryRecord">
    <id column="IID" jdbcType="DECIMAL" property="iid" />
    <result column="appid" jdbcType="OTHER" property="appid" />
    <result column="activity_name" jdbcType="OTHER" property="activityName" />
    <result column="activity_uid" jdbcType="OTHER" property="activityUid" />
    <result column="open_id" jdbcType="OTHER" property="openId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    IID, appid, activity_name, activity_uid, open_id, create_time
  </sql>
  <select id="selectByExample" parameterType="com.rel.entities.LotteryRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from LOTTERYRECORD
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from LOTTERYRECORD
    where IID = #{iid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from LOTTERYRECORD
    where IID = #{iid,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.rel.entities.LotteryRecordExample">
    delete from LOTTERYRECORD
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rel.entities.LotteryRecord">
    insert into LOTTERYRECORD (IID, appid, activity_name, 
      activity_uid, open_id, create_time
      )
    values (#{iid,jdbcType=DECIMAL}, #{appid,jdbcType=OTHER}, #{activityName,jdbcType=OTHER}, 
      #{activityUid,jdbcType=OTHER}, #{openId,jdbcType=OTHER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rel.entities.LotteryRecord">
    insert into LOTTERYRECORD
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="iid != null">
        IID,
      </if>
      <if test="appid != null">
        appid,
      </if>
      <if test="activityName != null">
        activity_name,
      </if>
      <if test="activityUid != null">
        activity_uid,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="iid != null">
        #{iid,jdbcType=DECIMAL},
      </if>
      <if test="appid != null">
        #{appid,jdbcType=OTHER},
      </if>
      <if test="activityName != null">
        #{activityName,jdbcType=OTHER},
      </if>
      <if test="activityUid != null">
        #{activityUid,jdbcType=OTHER},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=OTHER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rel.entities.LotteryRecordExample" resultType="java.lang.Long">
    select count(*) from LOTTERYRECORD
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update LOTTERYRECORD
    <set>
      <if test="record.iid != null">
        IID = #{record.iid,jdbcType=DECIMAL},
      </if>
      <if test="record.appid != null">
        appid = #{record.appid,jdbcType=OTHER},
      </if>
      <if test="record.activityName != null">
        activity_name = #{record.activityName,jdbcType=OTHER},
      </if>
      <if test="record.activityUid != null">
        activity_uid = #{record.activityUid,jdbcType=OTHER},
      </if>
      <if test="record.openId != null">
        open_id = #{record.openId,jdbcType=OTHER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update LOTTERYRECORD
    set IID = #{record.iid,jdbcType=DECIMAL},
      appid = #{record.appid,jdbcType=OTHER},
      activity_name = #{record.activityName,jdbcType=OTHER},
      activity_uid = #{record.activityUid,jdbcType=OTHER},
      open_id = #{record.openId,jdbcType=OTHER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rel.entities.LotteryRecord">
    update LOTTERYRECORD
    <set>
      <if test="appid != null">
        appid = #{appid,jdbcType=OTHER},
      </if>
      <if test="activityName != null">
        activity_name = #{activityName,jdbcType=OTHER},
      </if>
      <if test="activityUid != null">
        activity_uid = #{activityUid,jdbcType=OTHER},
      </if>
      <if test="openId != null">
        open_id = #{openId,jdbcType=OTHER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where IID = #{iid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rel.entities.LotteryRecord">
    update LOTTERYRECORD
    set appid = #{appid,jdbcType=OTHER},
      activity_name = #{activityName,jdbcType=OTHER},
      activity_uid = #{activityUid,jdbcType=OTHER},
      open_id = #{openId,jdbcType=OTHER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where IID = #{iid,jdbcType=DECIMAL}
  </update>
  <resultMap id="BaseResultMap" type="com.rel.entities.LotteryRecord">
    <id column="IID" jdbcType="DECIMAL" property="iid" />
    <result column="appid" jdbcType="OTHER" property="appid" />
    <result column="activity_name" jdbcType="OTHER" property="activityName" />
    <result column="activity_uid" jdbcType="OTHER" property="activityUid" />
    <result column="open_id" jdbcType="OTHER" property="openId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    IID, appid, activity_name, activity_uid, open_id, create_time
  </sql>
  <select id="selectByExample" parameterType="com.rel.entities.LotteryRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from LOTTERYRECORD
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from LOTTERYRECORD
    where IID = #{iid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from LOTTERYRECORD
    where IID = #{iid,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.rel.entities.LotteryRecordExample">
    delete from LOTTERYRECORD
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.rel.entities.LotteryRecord">
    insert into LOTTERYRECORD (IID, appid, activity_name, 
      activity_uid, open_id, create_time
      )
    values (#{iid,jdbcType=DECIMAL}, #{appid,jdbcType=OTHER}, #{activityName,jdbcType=OTHER}, 
      #{activityUid,jdbcType=OTHER}, #{openId,jdbcType=OTHER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rel.entities.LotteryRecord">
    insert into LOTTERYRECORD
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="iid != null">
        IID,
      </if>
      <if test="appid != null">
        appid,
      </if>
      <if test="activityName != null">
        activity_name,
      </if>
      <if test="activityUid != null">
        activity_uid,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="iid != null">
        #{iid,jdbcType=DECIMAL},
      </if>
      <if test="appid != null">
        #{appid,jdbcType=OTHER},
      </if>
      <if test="activityName != null">
        #{activityName,jdbcType=OTHER},
      </if>
      <if test="activityUid != null">
        #{activityUid,jdbcType=OTHER},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=OTHER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.rel.entities.LotteryRecordExample" resultType="java.lang.Long">
    select count(*) from LOTTERYRECORD
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update LOTTERYRECORD
    <set>
      <if test="record.iid != null">
        IID = #{record.iid,jdbcType=DECIMAL},
      </if>
      <if test="record.appid != null">
        appid = #{record.appid,jdbcType=OTHER},
      </if>
      <if test="record.activityName != null">
        activity_name = #{record.activityName,jdbcType=OTHER},
      </if>
      <if test="record.activityUid != null">
        activity_uid = #{record.activityUid,jdbcType=OTHER},
      </if>
      <if test="record.openId != null">
        open_id = #{record.openId,jdbcType=OTHER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update LOTTERYRECORD
    set IID = #{record.iid,jdbcType=DECIMAL},
      appid = #{record.appid,jdbcType=OTHER},
      activity_name = #{record.activityName,jdbcType=OTHER},
      activity_uid = #{record.activityUid,jdbcType=OTHER},
      open_id = #{record.openId,jdbcType=OTHER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.rel.entities.LotteryRecord">
    update LOTTERYRECORD
    <set>
      <if test="appid != null">
        appid = #{appid,jdbcType=OTHER},
      </if>
      <if test="activityName != null">
        activity_name = #{activityName,jdbcType=OTHER},
      </if>
      <if test="activityUid != null">
        activity_uid = #{activityUid,jdbcType=OTHER},
      </if>
      <if test="openId != null">
        open_id = #{openId,jdbcType=OTHER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where IID = #{iid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rel.entities.LotteryRecord">
    update LOTTERYRECORD
    set appid = #{appid,jdbcType=OTHER},
      activity_name = #{activityName,jdbcType=OTHER},
      activity_uid = #{activityUid,jdbcType=OTHER},
      open_id = #{openId,jdbcType=OTHER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where IID = #{iid,jdbcType=DECIMAL}
  </update>
</mapper>